
.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

migrations
__pycache__

venv

#Private Config Details
secretconfig.cfg
/templates/display.html
