{% macro render_field(field, label_visible=true,value=None) -%}
     <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        <!-- {% if field.type != 'HiddenField' and field.type != 'SubmitField' and label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
        {% endif %} -->
        {% if field.type != 'SubmitField' %}
            {{ field(class_='form-control', **kwargs) }}
        {% endif %}
        {% if field.type == 'SubmitField' %}
            {{ field(class_='form-control btn btn-primary', **kwargs) }}
        {% endif %}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}
