{% from '/include/_formhelper.html' import render_field %}
{% extends 'base.html'%}

{% block content %}

    <div class="row text-center"  style="margin-top:2%;">
      <h4 class="well">Never Let Your Contact Details Go Outdated</h4>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <!-- Tabs -->
            <ul class="nav nav-tabs" style="margin-top:5%;">
  <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
  <li><a href="#signup" data-toggle="tab">SignUp</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="login">
            <form class="form-horizontal my-form" method="post" action="/">
                        {{ loginform.csrf_token }}
                        {{ render_field(loginform.username) }}
                        {{ render_field(loginform.password) }}
                        {{ render_field(loginform.login) }}
            </form>
  </div>
  <div class="tab-pane fade" id="signup">
    <form style="padding:50px;border-radius: 5px;background-color: #1f1f21;" class="form-horizontal" method="post" action="/">
                    {{ signupform.csrf_token }}
                        {{ render_field(signupform.firstname) }}
                        {{ render_field(signupform.lastname) }}
                        {{ render_field(signupform.email) }}
                        {{ render_field(signupform.username) }}
                        {{ render_field(signupform.password) }}
                        {{ render_field(signupform.confirm) }}
                        {{ render_field(signupform.signup) }}
            </form>
  </div>
</div>

            <!-- Tab end -->
        </div>
    </div>
    </div>
      <br/><br/><br/>
      <div class="container">
        <hr/>
      <div class="row footer">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            Developer<br/>
            <strong>Vaibhav Kollipara</strong>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            contact<br/>
            <strong>vkollip1@binghamton.edu</strong>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            github<br/>
            <strong><a href="https://www.github.com/vaibhavkollipara/SyncList">SourceCode</a></strong>
        </div>
      </div>
      </div>
{% endblock %}
