{% extends 'base.html'%}

{% block content %}
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 text-center">
            <h3 class="well text-center">Shared List</h3>
        </div>
    </div>
    {% if userslist|length == 0 %}
    <div class="row text-center">
        <h3>You have not contacts</h3>
    </div>
    {% endif %}
    {% if userslist|length > 0 %}
        {% for user in userslist %}
            <div class="row bottom-gap">
                <div class="contact-list-item visible-md visible-lg col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="contact_pic col-md-2 col-lg-2 text-center">
                        <div class="icon-letter text-center">
                            {{ user.fullname[0] }}
                        </div>
                    </div>
                    <div class="name-box col-md-9 col-lg-9 text-center">
                        {{ user.fullname }}
                    </div>

                </div>
                <div class="visible-sm contact-list-item col-sm-10 col-xs-offset-1">
                    <div class="contact_pic col-xs-2 col-sm-2 text-center">
                        <div class="icon-letter text-center">
                            {{ user.fullname[0] }}
                        </div>
                    </div>
                    <div class="name-box col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 text-center">
                        {{ user.fullname }}
                    </div>
                </div>
                <div class="visible-xs contact-list-item col-xs-10 col-xs-offset-1">
                    <div class="contact_pic col-xs-2 col-sm-2 text-center">
                        <div class="icon-letter text-center" style="font-size:1.75em;">
                            {{ user.fullname[0] }}
                        </div>
                    </div>
                    <div class="name-box col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 text-center" style="font-size:1.5em;margin-top:5px;">
                        {{ user.fullname }}
                    </div>
                </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
